.error-image {
    padding-top: 30px;
}

.error-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#error-page-site-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

#error-page-site-map li {
    width: 20%;
}