.pagination-container ul {
  list-style: none inside;
  margin: 0;
  padding: 0;
}

.pagination-container li {
  display: inline-block;
  margin: 0;
  padding: 0 4px;
}

.pagination-container a,
.pagination-container span {
  display: inline-block;
  min-width: 24px;
  padding: 0 12px;
}

.pagination-container a {
  text-decoration: none;
  border: 1px solid var(--navigation-link_color_border);
  border-radius: var(--generic_border_radius);
  color: var(--navigation-link_color_foreground);
  background-color: var(--navigation-link_color_background);
}

.pagination-container a:hover {
  background-color: var(--navigation-link_color_background-hover);
  border-color: var(--navigation-link_color_border-hover);
  color: var(--navigation-link_color_foreground-hover);
  text-shadow: 0 1px 1px var(--generic_color_shadow);
}

.pagination-container span,
.pagination-container .spacer {
  color: var(--page_color_foreground-secondary);
}

.pagination-container .active a,
.pagination-container .active span {
  background-color: var(--navigation-link_color_background-active);
  border-color: var(--navigation-link_color_border-active);
  color: var(--navigation-link_color_foreground-active);
}

.pagination ul {
  display: inline-block;
  margin: 10px auto;
}

.pagination li:first-child a,
.pagination li:first-child span {
  margin-right: -0.25em;
}

.pagination li:last-child a,
.pagination li:last-child span {
  margin-left: -0.25em;
}
