:root {
    --home-slideshow_height: calc(100vh - var(--page-header_height));
    --home-slideshow_max-height: 800px;
}

#tagline {
    font-size: 18px;
}

.scroll-bouncer {
    position: absolute;
    bottom: 20px;
    font-size: 40px;
}

.scroll-bouncer .icon {
    position: relative;
    animation: gentle-v-bounce 2s ease-in-out infinite alternate;
}